# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# conda
.conda

# pyenv
.python-version

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log